.blog-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.blog-box {
  width: 320px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  border: 2px solid darkgray;
  margin: 20px;
  padding: 15px;
}

.blog-image {
  width: 100%;
  height: auto;
  max-width: 260px;
  max-height: 260px;
  object-fit: cover;
  align-self: center;
}

.site-link {
  width: 70px;
  border-radius: 5%;
  font-size: 13px;
  align-self: center;
  background-color: #b5dddf;
  cursor: pointer;
}

h3 {
  margin: 3px;
  font-size: 0.9rem;
}

h2 {
  margin: 3px;
}

p {
  margin: 3px;
}

@media (min-width:650px) {
  .blog-container {
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    justify-content: space-evenly;
  }
  .blog-box {
    width: 40%;
  }
}

@media (min-width:900px) {
  .blog-container {
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    justify-content: space-evenly;
  }
  .blog-box {
    width: 20%;
  }
  .blog-image {
    max-width: 200px;
    max-height: 200px;
  }
}

@media (min-width:1440px) {}