.signin-button {
  padding: 5px;
  margin: 6px;
  border: none;
  border-radius: 5px;
  background-color: #b5dddf;
  width: 70px;
  margin: 15px;
}

@media (max-width: 650px) {
  .signin-button {
    display: none;
  }
}