* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 50px 20px;
  padding: 20px;
  min-height: 90px;
}

h1 {
  font-size: 40px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-list a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.list-item {
  list-style: none;
}

.burger {
  display: none;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.burger-list-item {
  background-color: black;
  width: 25px;
  height: 3px;
  margin: 5px;
}

.toggle-burger-menu {
  position: relative;
}

.burger-list {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  padding: 10px 6px;
  z-index: 100;
  overflow: auto;
  min-height: 100px;
  min-width: 110px;
  justify-content: center;
  background: white;
}

.burger-list.show {
  display: flex;
}

.burger-item {
  list-style: none;
  padding: 5px 0;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 650px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .nav-list {
    position: absolute;
    right: 0px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
  }
  .list-item {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}